openapi: 3.1.0
info:
  contact:
    name: Liqhtworks
    url: https://sophon.rs
  description: |
    REST API for submitting, monitoring, and retrieving SOPHON encoding jobs.

    ## Client Libraries

    For server-side application integrations, start with one of the official
    SOPHON client libraries. Current published version: `0.1.5`.

    | Language | Package | Install |
    |---|---|---|
    | TypeScript / JavaScript | [`@liqhtworks/sophon-sdk`](https://www.npmjs.com/package/@liqhtworks/sophon-sdk) | `npm install @liqhtworks/sophon-sdk` |
    | Python | [`sophon-sdk`](https://pypi.org/project/sophon-sdk/) | `pip install sophon-sdk` |
    | Go | [`github.com/Liqhtworks/sophon-sdk-go`](https://github.com/Liqhtworks/sophon-sdk-go) | `go get github.com/Liqhtworks/sophon-sdk-go@latest` |

    These libraries are generated from this OpenAPI document and include the
    generated endpoint clients plus helpers for chunked uploads, terminal job
    polling, upload-backed job source construction, and webhook signature
    verification.

    We do not currently publish official SDKs for Ruby, Java, Kotlin, Swift,
    PHP, .NET, or Rust. Use the REST API directly from those languages.

    Authentication is via Bearer API key or session cookie. Create API keys in
    the SOPHON dashboard at https://sophon.rs/account/general and pass
    them as `Authorization: Bearer xt_live_...`. All POST endpoints require an
    `Idempotency-Key` header. List endpoints use opaque cursor-based pagination.

    See **SDKs** for install commands and quickstarts. See **Integration
    example** for a production state-machine pattern and raw HTTP adapter
    guidance.
  title: SOPHON Encoding API
  version: 1.0.0
servers:
- description: Production
  url: https://api.liqhtworks.xyz
security:
- bearerApiKey: []
- sessionCookie: []
tags:
- description: "Submit, inspect, cancel, and retrieve encoding jobs."
  name: Jobs
- description: Create chunked uploads and assemble source media.
  name: Uploads
- description: Manage outbound terminal-job webhook endpoints.
  name: Webhooks
- description: |
    Outbound webhook payloads delivered by SOPHON when a job reaches a
    terminal state.

    ### Delivery semantics

    - **Trigger**: a delivery is enqueued when a job transitions to
      `completed`, `failed`, or `canceled`. No deliveries for
      `queued`, `running`, or interim `progress` events.
    - **Subscription**: only the webhooks listed in
      `CreateJobRequest.webhook_ids` for that specific job receive
      deliveries. Registering a webhook does not subscribe it
      retroactively or to all org jobs.
    - **Timeout**: each delivery attempt waits up to **10 seconds**
      for a 2xx response. Anything beyond that, or any non-2xx, is
      treated as a failure and triggers a retry.
    - **Retries**: up to **3 total attempts** (1 initial + 2 retries).
      Backoff between attempts is approximately **10s, then 60s**
      (the third gap, if it were used, would be 300s — but the 3rd
      attempt is the last). Deliveries that exhaust the retry budget
      are logged and dropped; there is no dead-letter queue the
      customer can inspect.
    - **Ordering**: not guaranteed. A consumer that needs strict
      ordering should treat `X-Turbo-Event-Id` as the dedupe key and
      reconcile state from `GET /v1/jobs/{id}` if events arrive out
      of order.
    - **At-least-once**: a delivery may be retried after a consumer's
      transient failure, so the same `event_id` can arrive more than
      once. Idempotent processing is required.
    - **Signature**: every delivery carries `X-Turbo-Signature-256`
      (HMAC-SHA256 of `"{X-Turbo-Timestamp}.{raw_body}"` using the
      per-webhook secret). Verify on the raw bytes BEFORE JSON-parsing.
  name: Webhook Events
- description: Resolve signed output download tokens.
  name: Downloads
- description: "Service health, readiness, version, and metrics endpoints."
  name: Health
- description: |
    Official SDKs are the recommended way to integrate SOPHON from
    server-side application code. Current published version: `0.1.5`.

    Repositories and package registries:

    | Language | Install | Links |
    |---|---|---|
    | TypeScript / JavaScript | `npm install @liqhtworks/sophon-sdk` | [npm](https://www.npmjs.com/package/@liqhtworks/sophon-sdk), [GitHub](https://github.com/Liqhtworks/sophon-sdk-typescript) |
    | Python | `pip install sophon-sdk` | [PyPI](https://pypi.org/project/sophon-sdk/), [GitHub](https://github.com/Liqhtworks/sophon-sdk-python) |
    | Go | `go get github.com/Liqhtworks/sophon-sdk-go@latest` | [GitHub](https://github.com/Liqhtworks/sophon-sdk-go) |

    ### Get an API key

    Create a server-side API key in the dashboard:
    https://sophon.rs/account/general

    ```bash
    export SOPHON_API_KEY=xt_live_...
    export SOPHON_BASE_URL=https://api.liqhtworks.xyz
    ```

    Keep API keys on the server. Do not ship them in browser bundles,
    mobile apps, public repositories, logs, or analytics events.

    ### What the helpers cover

    | Helper | Languages | Purpose |
    |---|---|---|
    | `uploadFile` / `upload_file` / `UploadFile` | TypeScript, Python, Go | Chunked upload orchestration with bounded concurrency, retries, resume, and progress callbacks. |
    | `JobSource.upload` / `JobSource.Upload` | TypeScript, Python, Go | Construct a typed upload-backed job source from a completed upload ID. |
    | `waitForJob` / `wait_for_job` / `WaitForJob` | TypeScript, Python, Go | Poll until a terminal job status with timeout and typed terminal/timeout errors. |
    | `verifyWebhookSignature` / `verify_webhook_signature` / `VerifyWebhookSignature` | TypeScript, Python, Go | Verify `X-Turbo-Signature-256` over the raw request body before JSON parsing. |

    ### TypeScript quickstart

    Requires Node 18+ or a runtime with `fetch`, `Blob`, `AbortController`,
    and Web Crypto.

    ```ts
    import { Blob } from "node:buffer";
    import { randomUUID } from "node:crypto";
    import { readFile, writeFile } from "node:fs/promises";
    import {
      Configuration,
      JobProfile,
      JobSource,
      JobStatus,
      JobsApi,
      UploadsApi,
      uploadFile,
      waitForJob,
    } from "@liqhtworks/sophon-sdk";

    const apiKey = process.env.SOPHON_API_KEY;
    if (!apiKey) throw new Error("SOPHON_API_KEY is required");

    const basePath = process.env.SOPHON_BASE_URL ?? "https://api.liqhtworks.xyz";
    const config = new Configuration({ basePath, accessToken: apiKey });
    const uploads = new UploadsApi(config);
    const jobs = new JobsApi(config);

    const bytes = await readFile("source.mov");
    const upload = await uploadFile({
      api: uploads,
      source: new Blob([bytes], { type: "video/quicktime" }),
      fileName: "source.mov",
      mimeType: "video/quicktime",
      concurrency: 4,
    });

    const job = await jobs.createJob({
      idempotencyKey: randomUUID(),
      createJobRequest: {
        source: JobSource.upload(upload.uploadId),
        profile: JobProfile.SOPHON_AUTO,
      },
    });

    const final = await waitForJob({
      api: jobs,
      jobId: job.id,
      timeoutMs: 30 * 60 * 1000,
    });
    if (final.status !== JobStatus.COMPLETED) {
      throw new Error(`job ended in ${final.status}`);
    }

    const redirect = await fetch(`${basePath}/v1/jobs/${final.id}/output`, {
      headers: { authorization: `Bearer ${apiKey}` },
      redirect: "manual",
    });
    const location = redirect.headers.get("location");
    if (!location) throw new Error("missing output redirect");

    const download = await fetch(new URL(location, basePath));
    await writeFile("sophon-output.mp4", Buffer.from(await download.arrayBuffer()));
    ```

    ### Python quickstart

    Requires Python 3.9+.

    ```python
    import os
    import urllib.parse
    import urllib.request
    import uuid
    from pathlib import Path

    import sophon_sdk
    from sophon_sdk.models.create_job_request import CreateJobRequest

    api_key = os.environ["SOPHON_API_KEY"]
    base_url = os.getenv("SOPHON_BASE_URL", "https://api.liqhtworks.xyz")

    class NoRedirectHandler(urllib.request.HTTPRedirectHandler):
        def http_error_302(self, req, fp, code, msg, headers):
            response = urllib.request.addinfourl(fp, headers, req.get_full_url())
            response.code = code
            return response

        http_error_301 = http_error_303 = http_error_307 = http_error_302

    configuration = sophon_sdk.Configuration(host=base_url, access_token=api_key)

    with sophon_sdk.ApiClient(configuration) as api_client:
        uploads = sophon_sdk.UploadsApi(api_client)
        jobs = sophon_sdk.JobsApi(api_client)

        upload = sophon_sdk.upload_file(
            uploads,
            Path("source.mov"),
            file_name="source.mov",
            mime_type="video/quicktime",
            concurrency=4,
        )

        job = sophon_sdk.create_job(
            jobs,
            idempotency_key=str(uuid.uuid4()),
            create_job_request=CreateJobRequest(
                source=sophon_sdk.JobSource.upload(upload.upload_id),
                profile="sophon-auto",
            ),
        )

        final = sophon_sdk.wait_for_job(jobs, job.id, timeout_seconds=30 * 60)
        if final.status != "completed":
            raise RuntimeError(f"job ended in {final.status}")

        req = urllib.request.Request(
            f"{base_url}/v1/jobs/{final.id}/output",
            headers={"Authorization": f"Bearer {api_key}"},
        )
        opener = urllib.request.build_opener(NoRedirectHandler())
        redirect = opener.open(req)
        location = redirect.headers.get("Location")
        if not location:
            raise RuntimeError("missing output redirect")

        download_url = urllib.parse.urljoin(base_url.rstrip("/") + "/", location)
        with urllib.request.urlopen(download_url, timeout=60) as response:
            Path("sophon-output.mp4").write_bytes(response.read())
    ```

    ### Go quickstart

    Requires Go 1.22+.

    ```go
    package main

    import (
        "context"
        "os"
        "time"

        sophon "github.com/Liqhtworks/sophon-sdk-go"
        "github.com/Liqhtworks/sophon-sdk-go/helpers"
        "github.com/google/uuid"
    )

    func main() {
        ctx := context.Background()
        apiKey := os.Getenv("SOPHON_API_KEY")
        baseURL := os.Getenv("SOPHON_BASE_URL")
        if baseURL == "" {
            baseURL = "https://api.liqhtworks.xyz"
        }

        cfg := sophon.NewConfiguration()
        cfg.Servers = sophon.ServerConfigurations{{URL: baseURL}}
        cfg.AddDefaultHeader("Authorization", "Bearer "+apiKey)
        client := sophon.NewAPIClient(cfg)

        uploads := helpers.NewUploadsClient(client.UploadsAPI)
        jobs := helpers.NewJobsClient(client.JobsAPI)

        reader, size, closeFn, err := helpers.OpenFileForUpload("source.mov")
        if err != nil {
            panic(err)
        }
        defer closeFn()

        upload, err := helpers.UploadFile(
            ctx,
            uploads,
            reader,
            size,
            "source.mov",
            "video/quicktime",
            helpers.UploadFileOptions{Concurrency: 4},
        )
        if err != nil {
            panic(err)
        }

        job, _, err := client.JobsAPI.CreateJob(ctx).
            IdempotencyKey(uuid.NewString()).
            CreateJobRequest(sophon.CreateJobRequest{
                Source: helpers.JobSource.Upload(upload.UploadID),
                Profile: sophon.SOPHON_AUTO,
            }).
            Execute()
        if err != nil {
            panic(err)
        }

        final, err := helpers.WaitForJob(ctx, jobs, job.GetId(), helpers.WaitForJobOptions{
            Timeout: 30 * time.Minute,
        })
        if err != nil {
            panic(err)
        }
        if final.Status != "completed" {
            panic("job ended in " + final.Status)
        }
    }
    ```

    ### Profile choice

    Use `sophon-auto` for production unless you need deterministic encoder
    settings. The SDK README quickstarts may use `sophon-espresso` for fast
    smoke tests, but production apps should default to `sophon-auto`.

    ### Webhooks

    Verify webhook signatures with the raw request body before JSON parsing.
    Complete server examples are available in each SDK repository:

    - TypeScript: Express
    - Python: FastAPI
    - Go: `net/http`
  name: SDKs
- description: |
    A real-world walkthrough of how [Daisy](https://daisy.so) wires SOPHON into
    two production flows — user-uploaded video compression and automatic
    post-generation encoding after video rendering. Both converge on the same
    adapter and state machine; only the source differs.

    The official SDKs cover the common upload, create-job, polling, and
    webhook-verification paths. The lower-level patterns below are useful
    when you need a custom HTTP adapter or a durable production state machine.

    ### 1. One thin adapter, one method per endpoint

    Keep the HTTP surface boring. Axios (or your stack's equivalent), a
    per-endpoint idempotency key, and profile names that the server validates:

    ```ts
    @Injectable()
    export class SophonService {
      private client() {
        return axios.create({
          baseURL: process.env.SOPHON_BASE_URL,
          headers: { Authorization: `Bearer ${process.env.SOPHON_API_KEY}` },
          timeout: 60_000,
        });
      }

      async createUploadSession(req, idempotencyKey) { /* POST /v1/uploads */ }
      async uploadChunk(uploadId, partNumber, bytes) { /* PUT /v1/uploads/{id}/parts/{n} */ }
      async completeUpload(uploadId, idempotencyKey) { /* POST /v1/uploads/{id}/complete */ }
      async createJob(req, idempotencyKey) { /* POST /v1/jobs */ }
      async getJob(id) { /* GET /v1/jobs/{id} */ }
      async downloadOutputStream(jobId) { /* GET /v1/jobs/{id}/output */ }
    }
    ```

    **Suffix idempotency keys per endpoint.** SOPHON scopes dedupe per route
    but a shared key collides across retries that hit different endpoints.
    Do this:

    ```ts
    const base = `video:${video.id}:v1`;
    await sophon.createUploadSession(req,  `${base}:create-upload`);
    await sophon.completeUpload(uploadId,  `${base}:complete-upload`);
    await sophon.createJob(req,            `${base}:create-job`);
    ```

    **Profile names are strings, not an enum.** We add and rename profiles
    (`sophon-espresso` → `sophon-auto` → future variants). A TypeScript union
    will drift; let the server validate.

    ### 2. Model your pipeline as a state machine

    Persist a single `sophonState` JSON column per row. `jobId === null`
    routes to dispatch; anything else polls that job:

    ```ts
    interface SophonState {
      jobId: string | null;          // null = not dispatched; string = poll it
      uploadId?: string;             // persist between upload + createJob
      profile?: string;              // sophon-auto | sophon-espresso | ...
      dispatchRetries: number;       // 3 strikes → fallback
      downloadRetries: number;
      lastError?: { stage, code, message, at };
    }

    // In your cron (5-second tick is plenty):
    if (state.jobId === null) {
      await dispatch(video, state);  // upload + createJob
    } else {
      await poll(video, state);      // getJob + (if completed) downloadAndComplete
    }
    ```

    Persisting `uploadId` between the upload completion and the `createJob`
    call matters — a crash in that window otherwise re-uploads the file.

    ### 3. Stream for large sources; buffer for small

    User-uploaded sources can be 1 GB+. Stream S3 → SOPHON in chunks equal
    to `session.chunk_size` from the createUploadSession response:

    ```ts
    async uploadStream(stream, fileName, mimeType, fileSize) {
      const session = await this.createUploadSession({
        file_name: fileName, file_size: fileSize, mime_type: mimeType,
      });
      let partIndex = 0, buffer = Buffer.alloc(0);
      for await (const chunk of stream) {
        buffer = Buffer.concat([buffer, chunk]);
        while (buffer.length >= session.chunk_size) {
          await this.uploadChunk(session.id, partIndex++,
            buffer.subarray(0, session.chunk_size));
          buffer = buffer.subarray(session.chunk_size);
        }
      }
      if (buffer.length > 0) {
        await this.uploadChunk(session.id, partIndex, buffer);
      }
      return this.completeUpload(session.id);
    }
    ```

    Generated outputs from a model run are typically <30 MB — for those, a
    buffered upload path is simpler and avoids managing a stream lifetime.

    ### 4. Always keep a fallback URL

    Before a row enters your encoding state, make sure the source is already
    playable from your CDN. Every SOPHON failure then degrades to "use the
    original" — the user's video never disappears because SOPHON is slow or
    down. This is the single most important invariant:

    ```ts
    await videoRepository.update({ id: video.id }, {
      videoUrl: sourceCloudfrontUrl,   // fallback URL, stays intact
      status: VideoStatus.EncodingPending,
      sophonState: { jobId: null, profile, dispatchRetries: 0, downloadRetries: 0 },
      sourceFileSize: sourceBytes,
    });
    ```

    On any terminal failure (structured `retryable: false`, retry budget
    exhausted, 404 on getJob, 23h stuck-row guard), flip status back to
    `Done` with `videoUrl` unchanged. SOPHON is enhancement, not a delivery
    dependency.

    ### 5. Handle the "no-gain" success path

    `sophon-auto` runs a pre-probe and, when it decides the output wouldn't
    be smaller than the source, returns `final_artifact: "original"` and
    `saved_percent: 0`. Skip the output download — the source already lives
    in your bucket:

    ```ts
    if (job.status === 'completed') {
      if (job.final_artifact === 'original') {
        // Persist outputFileSize = sourceFileSize so your UI shows
        // "no reduction" instead of a missing value.
        await completeWithFallbackOutput(video, job.output?.bytes ?? null);
        return;
      }
      await downloadAndComplete(video, state, job.output?.bytes ?? null);
    }
    ```

    ### 6. Finalize by streaming into your own storage

    `GET /v1/jobs/{id}/output` returns a 302 to a presigned URL with a 24h
    TTL. Stream that directly into your bucket — no temp file, no buffering:

    ```ts
    const { stream } = await sophon.downloadOutputStream(state.jobId);
    const outputKey = `encoded/${video.userId}/${video.id}.mp4`;
    await fileService.uploadStream(outputKey, stream, 'video/mp4');
    await videoRepository.update({ id: video.id }, {
      videoUrl: fileService.cloudfrontUrl(outputKey),
      outputFileSize: sophonOutputBytes,
      status: VideoStatus.Done,
    });
    ```

    ### 7. Failure taxonomy

    | Error | Handling |
    |---|---|
    | Structured `retryable: false` from SOPHON | Terminal. Fall back to `Done` with source URL. |
    | Retryable upload / createJob failure | Increment `dispatchRetries`; after 3, fall back. |
    | Retryable download failure | Increment `downloadRetries`; after 3, fall back. |
    | `getJob` → HTTP 404 | Terminal. Job expired or never created. Fall back. |
    | Transient poll network error | Do nothing; next tick retries. Don't burn retry budget. |
    | Row stuck in encode state > 23h | Fall back (safety net against orphans). |

    ### Minimal config

    ```bash
    SOPHON_API_KEY=xt_live_...
    SOPHON_BASE_URL=https://api.liqhtworks.xyz
    ```
  name: Integration example
paths:
  /v1/jobs:
    get:
      description: |
        Returns jobs for the authenticated organization ordered by creation
        time, with optional status filtering and opaque cursor pagination.
      operationId: listJobs
      parameters:
      - description: Filter by job status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: "#/components/schemas/JobStatus"
        style: form
      - $ref: "#/components/parameters/LimitParam"
      - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListJobsResponse"
          description: "Paginated list of jobs, ordered by created_at descending."
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Invalid status filter or cursor.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires jobs:read).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: List jobs with cursor pagination
      tags:
      - Jobs
    post:
      description: |
        Creates a queued encoding job from a completed upload source.

        **Picking `profile`:**
        - Use `sophon-auto` unless you have a specific reason not to. It
          picks per-source settings tuned for consistent output and
          re-encodes at stricter settings if the first pass doesn't
          hold up.
        - Use an explicit coffee profile (`sophon-espresso` / `-cortado` /
          `-americano`) when you want deterministic encoder behavior —
          same settings regardless of source.
        - Use an `-hq` variant when the source is a heavy format
          (ProRes, DNxHD, high-bitrate camera originals). Larger output
          files, maximum detail preservation.
        - Use an `-hq-10bit` variant when the source is 10-bit and you
          want to preserve that depth end-to-end (ProRes 422/4444,
          DNxHD, BRAW, camera masters).

        See `JobProfile` for the full enum.

        `output.target_height` requests an aspect-preserving downscale
        (width derived from source, both dims rounded to even). If absent
        or larger than source, output uses source dimensions.
      operationId: createJob
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: "Validation error (bad profile, source, container, metadata,\
            \ or webhook_ids)."
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires jobs:create).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: "Idempotency conflict (same key, different request body)."
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Source is invalid or unsupported.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Rate limited or quota exceeded.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Submit an encoding job
      tags:
      - Jobs
      x-codeSamples:
      - lang: TypeScript
        label: SDK create job from upload
        source: |
          import { randomUUID } from "node:crypto";
          import {
            JobProfile,
            JobSource,
            JobsApi,
          } from "@liqhtworks/sophon-sdk";

          const jobs = new JobsApi(config);
          const job = await jobs.createJob({
            idempotencyKey: randomUUID(),
            createJobRequest: {
              source: JobSource.upload(uploadId),
              profile: JobProfile.SOPHON_AUTO,
              output: { container: "mp4", audio: true },
            },
          });

          // Persist jobId so the next cron tick polls instead of
          // re-dispatching. `null` means "not dispatched yet".
          await videoRepository.update({ id: video.id }, {
            sophonState: { ...state, jobId: job.id },
          });
      - lang: curl
        label: curl
        source: |
          curl -X POST https://api.liqhtworks.xyz/v1/jobs \
            -H "Authorization: Bearer $SOPHON_API_KEY" \
            -H "Idempotency-Key: video:123:v1:create-job" \
            -H "Content-Type: application/json" \
            -d '{
              "source":  { "type": "upload", "upload_id": "upl_…" },
              "profile": "sophon-auto",
              "output":  { "container": "mp4", "audio": true }
            }'
  /v1/jobs/{id}:
    delete:
      description: |
        Cancels a job in a non-terminal state (queued, probing, encoding, muxing,
        uploading_output). Returns 409 if the job is already completed, failed, or canceled.
      operationId: cancelJob
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job canceled. Returns the updated job.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires jobs:cancel).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Job not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Job is in a terminal state and cannot be canceled (job_not_cancelable).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Cancel a job
      tags:
      - Jobs
    get:
      description: |
        Returns current job state, progress, source metadata, resolved adaptive
        profile information, and output availability for one job.
      operationId: getJob
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job details.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires jobs:read).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Job not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Get a single job by ID
      tags:
      - Jobs
  /v1/jobs/{id}/output:
    get:
      description: |
        Returns a 302 redirect to a signed download URL for the job's output file.
        The signed URL is valid for 24 hours.
      operationId: getJobOutput
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: |
            Redirect to signed download URL. The resolved resource is a video/mp4 file.
          headers:
            Location:
              description: Signed download URL (24-hour TTL). Resolves to video/mp4.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires outputs:read).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Job not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Output not ready (job not in completed state).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Get the encoded output file
      tags:
      - Jobs
      x-codeSamples:
      - lang: TypeScript
        label: "SDK poll, resolve 302, download"
        source: |
          import { writeFile } from "node:fs/promises";
          import { JobStatus, waitForJob } from "@liqhtworks/sophon-sdk";

          const final = await waitForJob({
            api: jobs,
            jobId,
            timeoutMs: 30 * 60 * 1000,
          });
          if (final.status !== JobStatus.COMPLETED) {
            throw new Error(`job ended in ${final.status}`);
          }

          // Use raw fetch so redirects are explicit. The SDK intentionally
          // does not follow the 302 and buffer the whole output in memory.
          const redirect = await fetch(`${basePath}/v1/jobs/${final.id}/output`, {
            headers: { authorization: `Bearer ${apiKey}` },
            redirect: "manual",
          });
          if (redirect.status !== 302) {
            throw new Error(`expected 302, got ${redirect.status}`);
          }
          const location = redirect.headers.get("location");
          if (!location) throw new Error("missing output redirect");

          const download = await fetch(new URL(location, basePath));
          await writeFile("sophon-output.mp4", Buffer.from(await download.arrayBuffer()));
      - lang: curl
        label: curl (follow 302 and save)
        source: |
          # -L follows the 302 to the presigned URL and streams the
          # output to stdout; here we pipe to a file.
          curl -L -o encoded.mp4 \
            -H "Authorization: Bearer $SOPHON_API_KEY" \
            https://api.liqhtworks.xyz/v1/jobs/job_abc123/output
  /v1/uploads:
    post:
      description: |
        Starts a resumable source upload and returns the chunk size, chunk
        count, session ID, and expiration timestamp.
      operationId: createUpload
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUploadRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUploadResponse"
          description: Upload session created.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: "Validation error (empty file_name, zero file_size, exceeds\
            \ max)."
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires uploads:create).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Idempotency conflict.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Rate limited or quota exceeded.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Disk capacity exceeded; uploads paused.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Initialize a chunked upload session
      tags:
      - Uploads
      x-codeSamples:
      - lang: TypeScript
        label: SDK upload helper
        source: |
          import { Blob } from "node:buffer";
          import { readFile } from "node:fs/promises";
          import {
            UploadsApi,
            uploadFile,
          } from "@liqhtworks/sophon-sdk";

          const uploads = new UploadsApi(config);
          const bytes = await readFile("input.mp4");
          const upload = await uploadFile({
            api: uploads,
            source: new Blob([bytes], { type: "video/mp4" }),
            fileName: "input.mp4",
            mimeType: "video/mp4",
            concurrency: 4,
            onProgress: (p) => console.log(`${p.partsDone}/${p.partsTotal} parts`),
          });

          // Pass this to createJob as JobSource.upload(upload.uploadId).
          console.log(upload.uploadId);
      - lang: curl
        label: curl (create session only)
        source: |
          curl -X POST https://api.liqhtworks.xyz/v1/uploads \
            -H "Authorization: Bearer $SOPHON_API_KEY" \
            -H "Idempotency-Key: video:123:v1:create-upload" \
            -H "Content-Type: application/json" \
            -d '{
              "file_name": "input.mp4",
              "file_size": 268435456,
              "mime_type": "video/mp4"
            }'
  /v1/uploads/{id}:
    delete:
      description: |
        Sets the upload session to canceled and deletes staged chunks from disk.
      operationId: cancelUpload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Upload canceled. No content returned.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires uploads:write).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Cancel an upload session
      tags:
      - Uploads
    get:
      description: |
        Returns received chunks and, after assembly/probe, source dimensions
        and duration used by downstream budget and encoding decisions.
      operationId: getUpload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadStatusResponse"
          description: Upload session status.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires uploads:read).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Get upload session status
      tags:
      - Uploads
  /v1/uploads/{id}/parts/{part_number}:
    put:
      description: |
        Streams the chunk body to disk. Part numbers are 0-indexed.
        Uploading the same part number again is idempotent (returns success without re-writing).
      operationId: uploadPart
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: part_number
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadPartResponse"
          description: Chunk received.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Part number out of range.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires uploads:write).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session is not in "uploading" state.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Disk capacity exceeded.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Upload a single chunk
      tags:
      - Uploads
  /v1/uploads/{id}/complete:
    post:
      description: |
        Assembles all received chunks into a single file, validates size matches
        the declared file_size, probes with ffprobe, and transitions the session to completed.
      operationId: completeUpload
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteUploadResponse"
          description: Upload assembled and validated.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Not all chunks received.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires uploads:write).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session not found.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Upload session is not in "uploading" state.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Assembled file size mismatch or not a valid video file (source_invalid).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Disk capacity exceeded; cannot assemble.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Finalize a chunked upload
      tags:
      - Uploads
  /v1/webhooks:
    get:
      description: |
        Lists active webhook endpoints for the authenticated organization.
      operationId: listWebhooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
          description: List of active webhooks for the authenticated organization.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires webhooks:manage).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: List active webhook endpoints
      tags:
      - Webhooks
    post:
      description: |
        Registers an HTTPS endpoint for terminal job events and returns the
        HMAC signing secret once at creation time.
      operationId: createWebhook
      parameters:
      - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
          description: Webhook registered. The response includes the HMAC secret (shown
            only once).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: "Invalid URL (non-HTTPS, private IP, userinfo, etc.)."
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires webhooks:manage).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Idempotency conflict.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Rate limited.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Register a webhook endpoint
      tags:
      - Webhooks
  /v1/webhooks/{id}:
    delete:
      description: Sets the webhook to inactive. It will no longer receive deliveries.
      operationId: deleteWebhook
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Webhook deactivated. No content returned.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Missing or invalid credentials.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Insufficient scope (requires webhooks:manage).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Webhook not found or already inactive.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security:
      - bearerApiKey: []
      - sessionCookie: []
      summary: Soft-delete a webhook endpoint
      tags:
      - Webhooks
  /v1/downloads/{token}:
    get:
      description: |
        Serves the encoded output file. No Authorization header required -- the
        HMAC-signed token (generated by GET /v1/jobs/{id}/output) IS the credential.
        Tokens expire after 24 hours.
      operationId: download
      parameters:
      - description: HMAC-signed download token encoding the object key and expiry.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            video/mp4:
              schema:
                format: binary
                type: string
          description: File stream.
          headers:
            Content-Disposition:
              description: attachment; filename="<output-filename>"
              explode: false
              schema:
                type: string
              style: simple
            Content-Type:
              description: video/mp4
              explode: false
              schema:
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Invalid or expired download token.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
          description: Output file not found on disk.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security: []
      summary: Download an output file via signed token
      tags:
      - Downloads
  /healthz:
    get:
      description: Always returns 200. Used by load balancers and orchestrators.
      operationId: healthz
      responses:
        "200":
          description: Service is alive.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security: []
      summary: Liveness probe
      tags:
      - Health
  /readyz:
    get:
      description: |
        Returns 200 when the service is ready to accept traffic. Checks database
        connectivity, disk headroom (warning and critical thresholds), worker liveness,
        and drain state.
      operationId: readyz
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
          description: All readiness checks passed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
          description: One or more readiness checks failed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
      security: []
      summary: Readiness probe
      tags:
      - Health
  /metrics:
    get:
      description: |
        Returns metrics in Prometheus text exposition format.
        This endpoint is operator-only and is not part of the public customer API.
        It should be firewalled from external traffic and scraped only by internal
        Prometheus infrastructure.
      operationId: metrics
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: Prometheus metrics.
      security: []
      summary: Prometheus metrics (operator-only)
      tags:
      - Health
      x-internal: true
components:
  headers:
    XRequestId:
      description: Unique ID for this request. Use in support tickets.
      explode: false
      schema:
        type: string
      style: simple
  parameters:
    IdempotencyKey:
      description: |
        Client-generated UUID or string for exactly-once semantics.
        Required on all POST endpoints. Replaying the same key with the
        same request body returns the original response without side effects.
      explode: false
      in: header
      name: Idempotency-Key
      required: true
      schema:
        maxLength: 128
        minLength: 1
        type: string
      style: simple
    CursorParam:
      description: Opaque pagination cursor returned in a previous response's `next_cursor`
        field.
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        type: string
      style: form
    LimitParam:
      description: Maximum number of items to return per page.
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: integer
      style: form
  schemas:
    ErrorEnvelope:
      example:
        error:
          retryable: true
          code: validation_error
          message: message
          request_id: request_id
      properties:
        error:
          $ref: "#/components/schemas/ErrorBody"
      required:
      - error
    ErrorBody:
      example:
        retryable: true
        code: validation_error
        message: message
        request_id: request_id
      properties:
        code:
          enum:
          - validation_error
          - unauthorized
          - forbidden
          - not_found
          - conflict
          - rate_limited
          - quota_exceeded
          - capacity_exceeded
          - source_invalid
          - source_unsupported
          - job_not_cancelable
          - output_not_ready
          - output_persistence_failed
          - internal_error
          type: string
        message:
          type: string
        retryable:
          description: |
            True for rate_limited, capacity_exceeded, and internal_error.
            Clients should retry with exponential backoff when true.
          type: boolean
        request_id:
          description: Server-assigned request ID for correlation with logs.
          type: string
          nullable: true
      required:
      - code
      - message
      - retryable
    JobMetadata:
      additionalProperties: true
      description: |
        Arbitrary JSON object attached to a job. Keys and values are passed
        through unchanged to webhook deliveries and echoed on job reads. The
        serialized representation must not exceed 16 KiB. Free-form; SDKs
        surface this as a `Record<string, unknown>` / `dict[str, Any]` /
        `map[string]interface{}` depending on language.
      type: object
    WebhookDeliveryPayload:
      description: |
        Payload delivered to registered webhook endpoints on terminal job events.
        Signed with HMAC-SHA256 over `"{timestamp}.{raw_body}"` using the
        per-webhook secret. Consumers must verify the signature before processing.
      example:
        metadata: ""
        event_id: evt_01JQabc123
        job_id: job_01JQ8C4K4W6YQ7M4M0A5K9T6RF
        type: job.completed
        timestamp: 2000-01-23T04:56:07.000+00:00
        status: completed
      properties:
        event_id:
          description: Unique delivery event ID for deduplication.
          example: evt_01JQabc123
          type: string
        type:
          description: Event type.
          enum:
          - job.completed
          - job.failed
          - job.canceled
          type: string
        timestamp:
          description: ISO 8601 timestamp of the event.
          format: date-time
          type: string
        job_id:
          description: The job that reached a terminal state.
          example: job_01JQ8C4K4W6YQ7M4M0A5K9T6RF
          type: string
        status:
          description: Terminal job status.
          enum:
          - completed
          - failed
          - canceled
          type: string
        metadata:
          allOf:
          - $ref: "#/components/schemas/JobMetadata"
          description: Opaque metadata from the original job submission.
      required:
      - event_id
      - job_id
      - metadata
      - status
      - timestamp
      - type
    JobProfile:
      description: |
        Encoding profile ID. Coffee-themed naming: prep time maps to encode
        speed (espresso = fast, cortado = medium, americano = slow). The
        naming suffixes compose:

        - bare name → 8-bit HEVC Main (universal decoder compatibility,
          default)
        - `-10bit` suffix → HEVC Main10 output. Requires a decoder that
          supports Main10 (modern phones, modern TVs, Safari, Chrome
          with hardware decode). Older / low-end devices may not play
          Main10 output. Pick only when you know the downstream
          pipeline supports it.
        - `-hq` suffix → quality-biased 8-bit variant for heavy source
          formats (ProRes, DNxHD, high-bitrate camera originals,
          mastering-grade intermediates). Files will be larger than
          the standard tier; pick when preserving detail matters more
          than bitrate. Broad device compatibility (8-bit Main).
        - `-hq-10bit` suffix → combines HQ with Main10 to preserve
          10-bit depth end-to-end. Same Main10 compatibility caveat
          as above; pick for ProRes 422/4444, DNxHD, BRAW, or camera
          masters where detail AND bit depth matter and you control
          the downstream pipeline.

        **For broad audience playback, pick `sophon-auto` or an explicit
        8-bit coffee profile.** `sophon-auto` produces 8-bit Main output
        regardless of source bit depth.

        If you're not sure which to pick, use `sophon-auto` — the API
        picks per-source settings tuned for consistent output regardless
        of what you submit, and automatically re-encodes at stricter
        settings if the first pass doesn't hold up.

        **8-bit (standard, default):**
        - `sophon-espresso` — fastest, lowest compression
        - `sophon-cortado` — balanced speed and quality
        - `sophon-americano` — slowest, highest compression

        **8-bit HQ** (max quality preservation for heavy formats):
        - `sophon-espresso-hq`
        - `sophon-cortado-hq`
        - `sophon-americano-hq`

        **10-bit (HEVC Main10):**
        - `sophon-espresso-10bit`
        - `sophon-cortado-10bit`
        - `sophon-americano-10bit`

        **10-bit HQ** (max quality preservation AND preserves 10-bit depth):
        - `sophon-espresso-hq-10bit`
        - `sophon-cortado-hq-10bit`
        - `sophon-americano-hq-10bit`

        **Adaptive dispatcher:**
        - `sophon-auto` — content-adaptive. The API probes each source,
          picks tuned settings, and re-encodes at stricter settings if
          the first pass doesn't hold up. `profile` on the job response
          stays `sophon-auto`; `effective_profile_id` records the
          concrete variant the API actually ran.
      enum:
      - sophon-espresso
      - sophon-cortado
      - sophon-americano
      - sophon-espresso-hq
      - sophon-cortado-hq
      - sophon-americano-hq
      - sophon-espresso-10bit
      - sophon-cortado-10bit
      - sophon-americano-10bit
      - sophon-espresso-hq-10bit
      - sophon-cortado-hq-10bit
      - sophon-americano-hq-10bit
      - sophon-auto
      example: sophon-auto
      type: string
    JobSourceType:
      description: Discriminator for `JobSource` variants.
      enum:
      - upload
      type: string
    UploadJobSource:
      description: Source backed by a completed chunked upload session.
      example:
        upload_id: upl_01JQ8abc123
        type: upload
      properties:
        type:
          $ref: "#/components/schemas/JobSourceType"
        upload_id:
          description: ID of a completed upload session.
          example: upl_01JQ8abc123
          type: string
      required:
      - type
      - upload_id
    JobSource:
      $ref: "#/components/schemas/UploadJobSource"
    OutputContainer:
      default: mp4
      description: |
        Output container format. MP4 is widely compatible; MKV
        supports a broader range of audio codecs for passthrough.
      enum:
      - mp4
      - mkv
      type: string
    CreateJobOutputOptions:
      description: Optional output shaping knobs for a new job.
      example:
        container: mp4
        target_height: 1080
        audio: false
      properties:
        container:
          $ref: "#/components/schemas/OutputContainer"
        audio:
          default: false
          description: |
            When true, audio is included in the output. MKV preserves
            source audio streams unchanged. MP4 preserves broadly compatible
            source audio codecs when possible, and may normalize
            incompatible codecs to AAC for playback compatibility.
            When false, the output is video only.
          type: boolean
        target_height:
          description: |
            Target output height in pixels. When set, output is scaled down
            (aspect ratio preserved, width derived from source, both dims
            rounded to even). If absent or larger than source height, output
            uses source dimensions. Billing tier is determined by the actual
            encoded output, not by this requested value.
          example: 1080
          maximum: 4320
          minimum: 144
          type: integer
          nullable: true
    CreateJobRequest:
      example:
        output:
          container: mp4
          target_height: 1080
          audio: false
        metadata: ""
        webhook_ids:
        - webhook_ids
        - webhook_ids
        profile: sophon-auto
        source:
          upload_id: upl_01JQ8abc123
          type: upload
      properties:
        source:
          $ref: "#/components/schemas/UploadJobSource"
        profile:
          $ref: "#/components/schemas/JobProfile"
        output:
          $ref: "#/components/schemas/CreateJobOutputOptions"
        webhook_ids:
          default: []
          description: IDs of registered webhook endpoints to notify on job state
            changes.
          items:
            type: string
          type: array
        metadata:
          allOf:
          - $ref: "#/components/schemas/JobMetadata"
          default: {}
          description: Arbitrary key-value metadata attached to the job. Max 16 KiB
            serialized.
      required:
      - profile
      - source
    JobStatus:
      description: Lifecycle status for an encoding job.
      enum:
      - queued
      - probing
      - encoding
      - muxing
      - uploading_output
      - completed
      - failed
      - canceled
      type: string
    JobResponse:
      example:
        retryable: true
        metadata:
          key: ""
        profile: ""
        effective_profile_id: effective_profile_id
        created_at: 2000-01-23T04:56:07.000+00:00
        source:
          duration_seconds: 1.4658129805029452
          sha256: sha256
          bytes: 6
          name: name
          resolution: 1920x1080
          frame_rate: "23.976"
        error: error
        attempt: 0
        output:
          container: container
          sha256: sha256
          retention_expires_at: 2000-01-23T04:56:07.000+00:00
          target_height: 1080
          bytes: 2
          width: 1920
          state: pending
          audio: true
          height: 1080
        completed_at: 2000-01-23T04:56:07.000+00:00
        progress:
          phase: ""
          stage: stage
          frames_done: 9
          frames_total: 3
          fps: 2.302136
          phase_percent: 56.373768
          percent: 59.621338
          eta_seconds: 7
        started_at: 2000-01-23T04:56:07.000+00:00
        id: job_abc123def456
        status_reason: status_reason
        status: queued
      properties:
        id:
          example: job_abc123def456
          type: string
        status:
          $ref: "#/components/schemas/JobStatus"
        status_reason:
          type: string
          nullable: true
        attempt:
          type: integer
        retryable:
          description: Whether the job can still be retried (attempt < max_attempts
            and not terminal).
          type: boolean
        profile:
          allOf:
          - $ref: "#/components/schemas/JobProfile"
          description: |
            Public profile ID submitted by the customer. For adaptive jobs this
            stays `sophon-auto`; see `effective_profile_id` for the worker's
            resolved concrete profile.
        effective_profile_id:
          description: |
            Concrete profile resolved by the worker. Omitted until dispatch
            resolves. On explicit-profile jobs this equals `profile`. On
            `sophon-auto` jobs this is a variant identifier recording
            which path the API routed the source through; exact encoder
            settings for a given variant may be updated between releases
            as the adaptive logic is tuned.
          type: string
          nullable: true
        source:
          $ref: "#/components/schemas/JobSourceInfo"
        progress:
          $ref: "#/components/schemas/JobProgress"
        output:
          $ref: "#/components/schemas/JobOutputInfo"
        metadata:
          additionalProperties: true
          description: |
            Arbitrary JSON object attached to a job. Keys and values are passed
            through unchanged to webhook deliveries and echoed on job reads. The
            serialized representation must not exceed 16 KiB. Free-form; SDKs
            surface this as a `Record<string, unknown>` / `dict[str, Any]` /
            `map[string]interface{}` depending on language.
          type: object
        created_at:
          format: date-time
          type: string
        started_at:
          format: date-time
          type: string
          nullable: true
        completed_at:
          format: date-time
          type: string
          nullable: true
        error:
          type: string
          nullable: true
      required:
      - attempt
      - created_at
      - id
      - metadata
      - output
      - profile
      - progress
      - retryable
      - source
      - status
    JobSourceInfo:
      example:
        duration_seconds: 1.4658129805029452
        sha256: sha256
        bytes: 6
        name: name
        resolution: 1920x1080
        frame_rate: "23.976"
      properties:
        name:
          description: Original file name of the source.
          type: string
          nullable: true
        bytes:
          format: int64
          type: integer
          nullable: true
        sha256:
          description: SHA-256 hex digest of the source file.
          type: string
        duration_seconds:
          format: double
          type: number
          nullable: true
        resolution:
          example: 1920x1080
          type: string
          nullable: true
        frame_rate:
          example: "23.976"
          type: string
          nullable: true
      required:
      - sha256
    JobProgress:
      example:
        phase: ""
        stage: stage
        frames_done: 9
        frames_total: 3
        fps: 2.302136
        phase_percent: 56.373768
        percent: 59.621338
        eta_seconds: 7
      properties:
        stage:
          description: "Current processing stage label (e.g. \"probing\", \"encoding\"\
            , \"muxing\")."
          type: string
          nullable: true
        phase:
          allOf:
          - $ref: "#/components/schemas/JobStatus"
          description: Canonical pipeline phase used for progress semantics.
        percent:
          format: float
          maximum: 100
          minimum: 0
          type: number
        phase_percent:
          description: Progress within the current phase. Null before active processing.
          format: float
          maximum: 100
          minimum: 0
          type: number
          nullable: true
        fps:
          format: float
          type: number
          nullable: true
        eta_seconds:
          type: integer
          nullable: true
        frames_done:
          type: integer
          nullable: true
        frames_total:
          type: integer
          nullable: true
      required:
      - percent
      - phase
    JobOutputInfo:
      example:
        container: container
        sha256: sha256
        retention_expires_at: 2000-01-23T04:56:07.000+00:00
        target_height: 1080
        bytes: 2
        width: 1920
        state: pending
        audio: true
        height: 1080
      properties:
        state:
          enum:
          - pending
          - available
          type: string
        container:
          description: Output container format ("mp4" or "mkv").
          type: string
        audio:
          description: |
            Whether the output file actually contains audio.
            Reflects the muxed result, not the request flag — a
            video-only source with audio requested will report false.
          type: boolean
        target_height:
          description: |
            Customer-requested output height, echoed back. Null when the
            job ran at source dimensions (passthrough).
          example: 1080
          type: integer
          nullable: true
        width:
          description: |
            Actual encoded output width in pixels (post-ffprobe). Null until
            the job completes or if the probe failed.
          example: 1920
          type: integer
          nullable: true
        height:
          description: Actual encoded output height in pixels. See `width`.
          example: 1080
          type: integer
          nullable: true
        bytes:
          format: int64
          type: integer
          nullable: true
        sha256:
          type: string
          nullable: true
        retention_expires_at:
          format: date-time
          type: string
          nullable: true
      required:
      - audio
      - container
      - state
    ListJobsResponse:
      example:
        next_cursor: next_cursor
        jobs:
        - retryable: true
          metadata:
            key: ""
          profile: ""
          effective_profile_id: effective_profile_id
          created_at: 2000-01-23T04:56:07.000+00:00
          source:
            duration_seconds: 1.4658129805029452
            sha256: sha256
            bytes: 6
            name: name
            resolution: 1920x1080
            frame_rate: "23.976"
          error: error
          attempt: 0
          output:
            container: container
            sha256: sha256
            retention_expires_at: 2000-01-23T04:56:07.000+00:00
            target_height: 1080
            bytes: 2
            width: 1920
            state: pending
            audio: true
            height: 1080
          completed_at: 2000-01-23T04:56:07.000+00:00
          progress:
            phase: ""
            stage: stage
            frames_done: 9
            frames_total: 3
            fps: 2.302136
            phase_percent: 56.373768
            percent: 59.621338
            eta_seconds: 7
          started_at: 2000-01-23T04:56:07.000+00:00
          id: job_abc123def456
          status_reason: status_reason
          status: queued
        - retryable: true
          metadata:
            key: ""
          profile: ""
          effective_profile_id: effective_profile_id
          created_at: 2000-01-23T04:56:07.000+00:00
          source:
            duration_seconds: 1.4658129805029452
            sha256: sha256
            bytes: 6
            name: name
            resolution: 1920x1080
            frame_rate: "23.976"
          error: error
          attempt: 0
          output:
            container: container
            sha256: sha256
            retention_expires_at: 2000-01-23T04:56:07.000+00:00
            target_height: 1080
            bytes: 2
            width: 1920
            state: pending
            audio: true
            height: 1080
          completed_at: 2000-01-23T04:56:07.000+00:00
          progress:
            phase: ""
            stage: stage
            frames_done: 9
            frames_total: 3
            fps: 2.302136
            phase_percent: 56.373768
            percent: 59.621338
            eta_seconds: 7
          started_at: 2000-01-23T04:56:07.000+00:00
          id: job_abc123def456
          status_reason: status_reason
          status: queued
        has_more: true
      properties:
        jobs:
          items:
            $ref: "#/components/schemas/JobResponse"
          type: array
        next_cursor:
          description: Opaque cursor for the next page. Null when no more results.
          type: string
          nullable: true
        has_more:
          type: boolean
      required:
      - has_more
      - jobs
    CreateUploadRequest:
      example:
        mime_type: mime_type
        file_name: file_name
        file_size: 1
      properties:
        file_name:
          minLength: 1
          type: string
        file_size:
          description: Total file size in bytes.
          format: int64
          minimum: 1
          type: integer
        mime_type:
          type: string
      required:
      - file_name
      - file_size
      - mime_type
    CreateUploadResponse:
      example:
        chunk_size: 0
        expires_at: 2000-01-23T04:56:07.000+00:00
        id: upl_abc123def456
        total_chunks: 6
      properties:
        id:
          example: upl_abc123def456
          type: string
        chunk_size:
          description: |
            Size of each chunk in bytes. Tiered by file size:
            <64 MB = whole file, <=1 GB = 8 MB, <=10 GB = 16 MB, >10 GB = 32 MB.
          format: int64
          type: integer
        total_chunks:
          format: int64
          type: integer
        expires_at:
          description: Upload session expiry (24 hours from creation).
          format: date-time
          type: string
      required:
      - chunk_size
      - expires_at
      - id
      - total_chunks
    UploadPartResponse:
      example:
        part_number: 0
        received: true
      properties:
        part_number:
          format: int64
          type: integer
        received:
          type: boolean
      required:
      - part_number
      - received
    UploadStatusResponse:
      example:
        received_chunks:
        - 6
        - 6
        expires_at: 2000-01-23T04:56:07.000+00:00
        source_duration_seconds: 600.0
        file_name: file_name
        source_width: 3840
        source_height: 2160
        id: id
        total_chunks: 0
        status: uploading
      properties:
        id:
          type: string
        status:
          enum:
          - uploading
          - assembling
          - completed
          - canceled
          type: string
        file_name:
          type: string
        total_chunks:
          type: integer
        received_chunks:
          description: Array of 0-indexed part numbers that have been received.
          items:
            type: integer
          type: array
        expires_at:
          format: date-time
          type: string
        source_width:
          description: |
            Source media width in pixels, populated from ffprobe after upload
            assembly. Null for uploads in `initiated`/`uploading` state or
            when probe failed.
          example: 3840
          type: integer
          nullable: true
        source_height:
          description: Source media height in pixels. See `source_width`.
          example: 2160
          type: integer
          nullable: true
        source_duration_seconds:
          description: |
            Source media duration in seconds, from ffprobe after upload
            assembly. Used by the webapp free-tier budget check to compute
            realistic billable_seconds (5-second ceiling rounding).
          example: 600.0
          format: float
          type: number
          nullable: true
      required:
      - expires_at
      - file_name
      - id
      - received_chunks
      - status
      - total_chunks
    CompleteUploadResponse:
      example:
        sha256: sha256
        bytes: 0
        id: id
        status: completed
      properties:
        id:
          type: string
        status:
          enum:
          - completed
          type: string
        sha256:
          description: SHA-256 hex digest of the assembled file.
          type: string
        bytes:
          format: int64
          type: integer
      required:
      - bytes
      - id
      - sha256
      - status
    CreateWebhookRequest:
      example:
        name: name
        url: https://openapi-generator.tech
      properties:
        url:
          description: |
            HTTPS URL to receive webhook deliveries. Must not point to
            private, loopback, link-local, or multicast addresses (SSRF prevention).
          format: uri
          type: string
        name:
          type: string
          nullable: true
      required:
      - url
    WebhookResponse:
      example:
        active: true
        created_at: 2000-01-23T04:56:07.000+00:00
        id: wh_abc123def456
        secret: secret
        url: https://openapi-generator.tech
      properties:
        id:
          example: wh_abc123def456
          type: string
        url:
          format: uri
          type: string
        secret:
          description: |
            HMAC signing secret (64-char hex string, 32 random bytes).
            Only returned on creation. Use to verify webhook delivery signatures.
          type: string
        active:
          type: boolean
        created_at:
          format: date-time
          type: string
      required:
      - active
      - created_at
      - id
      - secret
      - url
    WebhookListItem:
      example:
        active: true
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        url: https://openapi-generator.tech
      properties:
        id:
          type: string
        url:
          format: uri
          type: string
        active:
          type: boolean
        created_at:
          format: date-time
          type: string
      required:
      - active
      - created_at
      - id
      - url
    WebhookListResponse:
      example:
        webhooks:
        - active: true
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          url: https://openapi-generator.tech
        - active: true
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          url: https://openapi-generator.tech
      properties:
        webhooks:
          items:
            $ref: "#/components/schemas/WebhookListItem"
          type: array
      required:
      - webhooks
    ReadyResponse:
      example:
        checks_failed:
        - checks_failed
        - checks_failed
        ready: true
      properties:
        ready:
          type: boolean
        checks_failed:
          description: "Names of failed readiness checks (database, disk_critical,\
            \ draining, workers_dead)."
          items:
            type: string
          type: array
      required:
      - ready
  securitySchemes:
    bearerApiKey:
      description: |
        API key passed as `Authorization: Bearer <key>`.
        Keys are scoped to an organization and carry permission scopes
        (e.g. jobs:create, uploads:write, webhooks:manage).
      scheme: bearer
      type: http
    sessionCookie:
      description: "First-party dashboard session cookie (JWT, HS256)."
      in: cookie
      name: sophon_api_session
      type: apiKey
